<!doctype html>
<html class="no-js" {{site.language_attributes}}>
  <head>
    <meta charset="{{site.charset}}">
    <title>   
      {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css">
    <script src="{{ site.theme.link }}/app.min.js"></script>
    <script src="https://kit.fontawesome.com/b4c4015858.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <img class="header__logo" width="150px" height="50px" src="{{ custom_logo_url }}">
        <div class="header__info">
          <h1 class="header__name">
            <a href="/">{{ site.name }}</a>
          </h1>
          <div class="header__tagline">
            {{ site.description }}
          </div>
        </div>
      </div>
      <div id="menuToggle" class="menu--collapse">MENU <i class="fas fa-angle-down"></i></div>
      {% include "menu.twig" with {'items': menu_header.get_items, 'id': 'menuMain'} %}
    </header>
    <div class="wrapper">
      {% block content %}
        Nothing to see here...
      {% endblock %}
      <footer>
        {% include "menu.twig" with {'items': menu_footer.get_items} %}
        {{ site.name }} - 2020
      </footer>
    </div>
  </body>
</html>